<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>가계부</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/static/js/main.js" type="text/javascript"></script>
</head>
<body>
<header>
    <h1>{{.messages.main.expenseTracker}}</h1>
    <nav>
        <ul>
            <li><a href="/main">{{.messages.header.main}}</a></li>
            <li><a href="/transaction">{{.messages.header.transaction}}</a></li>
            <li><a href="/report">{{.messages.header.report}}</a></li>
            <li><a href="/total-list">{{.messages.header.totalList}}</a></li>
            <li><a href="/setting">{{.messages.header.setting}}</a></li>
        </ul>
    </nav>
    <div id="user-info">
        <button id="modify-button" onclick="location.href='/modify';">정보 수정</button>
        <button id="logout-button" onclick="location.href='/logout'">로그아웃</button>
    </div>
</header>
<main>
    <section class="summary">
        <h2>이번 달 요약</h2>
        <div class="summary-box">
            <div class="summary-item">
                <h3>총 수입</h3>
                <p>₩{{.summary.income}}</p>
            </div>
            <div class="summary-item">
                <h3>총 지출</h3>
                <p>₩{{.summary.expense}}</p>
            </div>
            <div class="summary-item">
                <h3>잔액</h3>
                <p>₩{{.summary.balance}}</p>
            </div>
        </div>
    </section>

    <section class="categories">
        <h2>카테고리별 지출</h2>
        <div class="category-box">
            {{range .categories}}
            <div class="category-item">
                <h3>{{.Name}}</h3>
                <p>₩{{.Amount}}</p>
            </div>
            {{end}}
        </div>
    </section>

    <section class="recent-transactions">
        <h2>최신 거래 내역</h2>
        <table>
            <thead>
            <tr>
                <th>날짜</th>
                <th>설명</th>
                <th>카테고리</th>
                <th>금액</th>
                <th>거래 구분</th>
            </tr>
            </thead>
            <tbody>
            {{range .transactions}}
            <tr>
                <td>{{.Date}}</td>
                <td>{{.Description}}</td>
                <td>{{.Category}}</td>
                <td>₩{{.Amount}}</td>
                <td>{{.Type}}</td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </section>
</main>
</body>
</html>